<div class="card">
    <div class="card-body"> 
        Tabela de sistema
    </div>

    <div class="card-body">
        <ol>
            <li class="list-group-item">Item da Lista</li>
            <li class="list-group-item">Item da Lista</li>
            <li class="list-group-item">Item da Lista</li>
            <li class="list-group-item">Item da Lista</li>
        </ol>
    </div>
</div>