<div>
    <div class="card-header">
        <h2>Lista de Clientes</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>Telefone</th>
            </thead>
            <tr>
                <td>1</td>
                <td>Fernanda</td>
                <td>(16)8956-2356</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Joao</td>
                <td>(16)8956-2356</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Maria</td>
                <td>(16)8956-2356</td>
            </tr>
        </table>
    </div>
</div>
