<h2 class="text-center">Lista de Usuarios</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Primeiro Nome</th>
      <th scope="col">Último Nome</th>
      <th scope="col">Nickname</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td></td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Jac</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larissa</td>
      <td>Harmiton</td>
      <td>Lary</td>
      
    </tr>
  </tbody>
</table>