@model WebApp_DS.Entidades.PermissaoEntidade

<form action="/Permissao/SalvarDados" method="post">
    <label>Descrição</label>
    <input type="text" name="DESCRICAO"/><br />
    <button type="submit">
        Salvar
    </button>
    
</form>
